<%- include("partials/header")-%>
    <h1>compose</h1>
    <form class="" action="/compose" method="post">
      <div class="mb-3">
    <label for="tile" class="form-label">Title</label>
    <input type="text" name="ptitle" class="form-control">
  </div>
  <div class="mb-3">
    <label for="post" class="form-label">post</label>
    <textarea class="form-control"name="pbody" rows="3"></textarea>
  </div>
  <br>
  <div class="mb3">
    <button type="submit" class="btn btn-primary" name="button">Publist</button>
  </div>
    </form>


<%- include("partials/footer")-%>
